<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
p {

    display: flex;
} 
body {
    background-color: {{bg_color}};
}
h1 {
    font-size: 80px;
    color: {{font_color}};
    margin-left: 10%;
    margin-top: 20%;
}
</style>
</head>
<body>

   <img src="{{url_for('static', filename='myimg.png')}}" align="middle" />
   <a href="https://github.com/vasanthan297/flask-web">Project Source URL in GIT </a>
    <div><h1>{{msg}}</h1></div>

</body>
</html>
